<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Journal de Bord</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-fab bottom right>
		<button ion-fab (click)="createANews()" color="secondary" mini><ion-icon name="add"></ion-icon></button>
	</ion-fab>
	<ion-searchbar (ionInput)="searchNews($event)"></ion-searchbar>
	<div *ngFor="let entry of myDiaryEntries | async">
		<ion-card>
			<ion-card-content>
				<div *ngIf="entry.type == 'SymptomeCheck'">
					<ion-icon name="md-american-football"></ion-icon>
				</div>
				<div *ngIf="entry.type == 'Medication'">
					<ion-icon name="md-analytics"></ion-icon>
				</div>
				<div *ngIf="entry.type == 'Activity'">
					<ion-icon name="md-paper-plane"></ion-icon>
				</div>
				<div *ngIf="entry.type == 'FreeEntry'">
					<ion-icon name="md-thermometer"></ion-icon>
				</div>
				<a ion-item (click)="goToDetails(entry)">
					{{ entry.description }} <br>
					<!--<p>	{{ entry.date_red }}</p>-->
				</a>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>
