.page-myDiary {
    .ion-md-analytics {
        color: #ED4248;
    }
    .ion-md-american-football {
        color: #508AE4;
    }
    .ion-md-thermometer {
        color: #31D55F;
    }
    .ion-md-paper-plane {
        color: #ED4248;
    }
    .action-sheet-cancel ion-icon,
    .action-sheet-destructive ion-icon {
        color: #757575;
    }
}
