<ion-header>
	<ion-navbar>
		<ion-title>Diary form</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<form (ngSubmit)="onSubmit()">
		<ion-list no-lines>
			<div *ngIf="entry.type == 'SymptomCheck'">
				<!--
				<ion-item>
					<ion-label floating>I feel...</ion-label>
					<ion-range min="1" max='5' step="1" snaps="true" pin="true" [(ngModel)]="entry.symptomCheck.rating">
						<ion-label range-left>1</ion-label>
						<ion-label range-right>5</ion-label>
					</ion-range>
				</ion-item>-->
				<ion-item>
					<ion-label floating>Description</ion-label>
					<ion-input type="text" [(ngModel)]="entry.description" [ngModelOptions]="{standalone: true}"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label floating>Symptoms</ion-label>
					<button color="light"><ion-icon name="add"></ion-icon></button>
				</ion-item>
			</div>
			<div *ngIf="entry.type == 'Activity'">
				<!--<ion-card>
					<ion-card-content icon-right>
						{{ activity }}
					</ion-card-content>
				</ion-card>-->
				<ion-item>
					<ion-label floating>Description
						<ion-icon [name]="labelD"></ion-icon>
					</ion-label>
					<ion-input type="text" [(ngModel)]="entry.description" [ngModelOptions]="{standalone: true}"></ion-input>
				</ion-item>
			</div>
			<div *ngIf="entry.type == 'FreeEntry'">
				<ion-item>
					<ion-label floating>Description
						<ion-icon [name]="labelD"></ion-icon>
					</ion-label>
					<ion-input type="text" [(ngModel)]="entry.description" [ngModelOptions]="{standalone: true}"></ion-input>
				</ion-item>

			</div>
			<div *ngIf="entry.type == 'Medication'">
				<ion-item>
					<ion-label floating>Description
						<ion-icon [name]="labelD"></ion-icon>
					</ion-label>
					<ion-input type="text" [(ngModel)]="entry.description" [ngModelOptions]="{standalone: true}"></ion-input>
				</ion-item>

			</div>
			<ion-item>
				<button ion-button block type="submit">Valider</button>
			</ion-item>
		</ion-list>
	</form>
</ion-content>