<ion-header>
  <ion-navbar>
    <ion-title>
      Description
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-icon *ngIf="entry.type == 'FreeEntry'" name="thermometer" style="color: #31D55F"></ion-icon>
      <ion-icon *ngIf="entry.type == 'SymptomCheck'" name="american-football" style="color: #508AE4"></ion-icon>
      <ion-icon *ngIf="entry.type == 'Medication'" name="analytics" style="color: #ED4248"></ion-icon>
      <ion-icon *ngIf="entry.type == 'Activity'" name="paper-plane" style="color: #ED4248"></ion-icon>
      {{ entry.creationDate | date }}
    </ion-card-header>
    <ion-card-content icon-right>
      {{ entry.description }}
    </ion-card-content>
  </ion-card>

  <div *ngIf="entry.type == 'SymptomCheck'">
    <ion-card>
      <ion-card-header> My rating </ion-card-header>
      <ion-card-content>
        <ion-range min="1" max='5' step="1" snaps="true" pin="true" [(ngModel)]="entry.symptomCheck.rating" disabled>
          <ion-label range-left class="small-text">1</ion-label>
          <ion-label range-right>5</ion-label>
        </ion-range>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header> My symptoms </ion-card-header>
      <ion-card-content>
        <ion-list>

          <ion-item *ngFor="let symptom of entry.symptomCheck.symptoms">
            {{symptom.name}}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <div id="activityDetails" *ngIf="entry.type == 'Activity'">
    <ion-card>
      <ion-card-header> Details </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col width-33 class="header">Activity: </ion-col>
            <ion-col>{{entry.activity.activityType.name}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-33 class="header">Date: </ion-col>
            <ion-col col-auto> {{entry.activity.dateActivity | date}} at {{entry.activity.startTime}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-33 class="header">Duration: </ion-col>
            <ion-col col-auto> {{entry.activity.duration}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
